<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\flowcoat.com.au\tmp" />
  </system.web>

  <system.webServer>
    <handlers>
      <add name="iisnode"
           path="app.js"
           verb="*"
           modules="iisnode" />
    </handlers>

    <iisnode
      nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;"
      loggingEnabled="false"
      devErrorsEnabled="false"
      watchedFiles="web.config;app.js"
    />

    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <remove fileExtension=".avif" />
      <mimeMap fileExtension=".avif" mimeType="image/avif" />
    </staticContent>

    <rewrite>
      <rules>
        <rule name="FLOWCOAT Next.js" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}"
                 matchType="IsFile"
                 negate="true" />
          </conditions>
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>

    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
